# Drop row from dataset and download new dataset

In [1]:
import pandas as pd
#Reading dataset
csv_file = pd.read_csv('sports_event.csv')

In [2]:
csv_file.info()
#information of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Eid     571 non-null    float64
 1   Ename   572 non-null    object
 2   Cid     571 non-null    object
dtypes: float64(1), object(2)
memory usage: 13.5+ KB

In [3]:
print(csv_file.head())
#checking from top

      Eid           Ename     Cid
0  6012.0             PSL    SP01
1  6019.0    national t20    SP01
2  6039.0  FIFA World Cup   SP02
3  6040.0       World Cup    SP03
4  6041.0    royal rumble  SP0122

In [4]:
print(csv_file.head())
#checking from top

      Eid           Ename     Cid
0  6012.0             PSL    SP01
1  6019.0    national t20    SP01
2  6039.0  FIFA World Cup   SP02
3  6040.0       World Cup    SP03
4  6041.0    royal rumble  SP0122

In [5]:
print(csv_file.tail())
#checking from last row
#last row containing two null values in 'CID' and in 'EID' column

        Eid      Ename    Cid
567  6601.0  E0wK_2021  SP222
568  6602.0  sgIl_2021  SP223
569  6603.0  dGnC_2021  SP224
570  6604.0  k5yH_2021  SP225
571     NaN  oEex_2021    NaN

In [7]:
df.to_csv('New.csv')
#creating a file and send data of df to it.

In [6]:

df =csv_file.dropna()
#dropna() removes the row that contains NULL values.